body, button {
    font-family: 'Reem Kufi Fun', sans-serif;
    margin: 0;
    --amarillo: #FFF200;
}

.navbar {
    background-color: var(--amarillo);
    padding: 10px;
    display: flex;
}

.navbar-logo {
    display: flex;
}

.logo-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.navbar-options {
    margin-left: auto;
    display: flex;
}

.navbar-link, .btn-black {
    text-decoration: none;
    margin: 0 10px;
    align-self: center;
}

.navbar-link {
    color: black;
}

.btn-black, .btn-amarillo {
    border-radius: 10px;
    padding: 10px;
}

.btn-black {
    border-color: black;
    background-color: black;
    color: white;
}

.btn-amarillo {
    border-color: var(--amarillo);
    background-color: var(--amarillo);
    color: black;
    text-decoration: none;
}

.login-menu {
    display: flex;
}

.formulario {
    background-color: black;
    border-radius: 15px;
    margin: 5rem auto;
    padding: 10px;
    color: white;
    font-size: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px 20px;
}

.form-input {
    height: 30px;
    width: 400px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Reem Kufi Fun', sans-serif;
}

#btn-login {
    margin: 0 auto 10px auto;
    width: 40%;
    font-size: 20px;
}

.about, .contact {
    display: flex;
}

.container {
    margin: 3rem auto;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 15px 30px 30px 30px;
}

.icon-group {
    display: flex;
    align-items: center;
}

.ms {
    margin-left: 1rem;
}

.main-lateral, .barra-lateral {
    display: flex;
}

.barra-lateral {
    min-height: 100vh;
    flex-direction: column;
    padding-top: 1rem;
    background-color: black;
}

.item-barra, .item-barra-activo {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-barra {
    color: white;
}

.item-barra-activo {
    color: black;
    background-color: var(--amarillo);
}

.me-1 {
    margin-right: 1rem;
}

.centrar {
    margin: 0 auto;
    text-align: center;
}

.container-info {
    background-color: var(--amarillo);
    padding: 0.25rem 0;
    border-radius: 15px;
    margin-top: 1rem;
}

.d-flex {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
  }

table {
    width: 300px;
}

th {
    background-color: var(--amarillo);
}

ul {
    list-style: none;
    padding: 0;
}

.mt-1{
    margin-top: 3rem;
}

.mb-2 {
    margin-bottom: 1rem;
}
.mb-3{
    margin-bottom: 2rem;
}
.back-1{
    background-color: var(--amarillo);
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.p-inline-1 {
    padding-inline: 1rem;
}